<div class="outer-container home-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/1.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/2.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/3.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/4.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/5.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/6.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/7.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="images/8.jpg" alt="">
                    </figure>

                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .outer-container -->
